{{- $dest := .Destination -}}
{{- $isExternal := or (strings.HasPrefix $dest "http://") (strings.HasPrefix $dest "https://") -}}

{{- /* Normalize links to respect baseURL/subpaths in PR previews */ -}}
{{- if hasPrefix $dest "/static/" -}}
	{{- $dest = (relURL $dest) -}}
{{- else if hasPrefix $dest "static/" -}}
	{{- $dest = (printf "/%s" $dest) | relURL -}}
{{- else if (and (not $isExternal) (hasPrefix $dest "/")) -}}
	{{- /* Any other site-internal absolute link (e.g., /docs/...) */ -}}
	{{- $dest = (relURL $dest) -}}
{{- end -}}

<a href="{{ $dest | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>